aiohttp==3.8.3
aiosignal==1.3.1
appdirs==1.4.4
asttokens==2.2.1
async-timeout==4.0.2
attrs==23.1.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.12.2
bleach==6.0.0
bokeh==3.1.1
boto3==1.26.161
botocore==1.29.161
Bottleneck==1.3.5
cachetools==5.3.1
certifi==2023.5.7
charset-normalizer==2.0.4
click==8.1.3
colorama==0.4.6
contourpy==1.0.5
cssselect==1.2.0
cycler==0.11.0
dataclasses-json==0.5.7
debugpy==1.5.1
decorator==5.1.1
deeplake==3.6.6
dill==0.3.6
docarray==0.34.0
docker-pycreds==0.4.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
feedfinder2==0.0.4
feedparser==6.0.10
filelock==3.12.2
fonttools==4.25.0
frozenlist==1.3.3
fsspec==2023.6.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.1
google-api-python-client==2.90.0
google-auth==2.21.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.1
gpt4all==0.3.6
greenlet==2.0.1
httplib2==0.22.0
huggingface-hub==0.15.1
humbug==0.3.1
idna==3.4
importlib-metadata==6.7.0
ipykernel==6.15.0
ipython==8.14.0
ipywidgets==8.0.6
jedi==0.18.2
jieba3k==0.35.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonpickle==3.0.1
jupyter-bokeh==3.0.7
jupyter_client==8.2.0
jupyter_core==5.3.1
jupyterlab-widgets==3.0.7
kiwisolver==1.4.4
langchain==0.0.216
langchainplus-sdk==0.0.17
linkify-it-py==2.0.2
lxml==4.9.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mkl-fft==1.3.6
mkl-random==1.2.2
mkl-service==2.4.0
mpmath==1.3.0
multidict==6.0.2
multiprocess==0.70.14
munkres==1.1.4
mypy-extensions==1.0.0
nest-asyncio==1.5.6
networkx==3.1
newsdataapi==0.1.6
newspaper3k==0.2.8
nltk==3.8.1
numcodecs==0.11.0
numexpr==2.8.4
numpy==1.24.3
openai==0.27.8
openapi-schema-pydantic==1.2.4
openpyxl==3.0.9
orjson==3.9.1
packaging==23.1
pandas==1.5.3
pandas-stubs==2.0.2.230605
panel==1.1.1
param==1.13.0
parso==0.8.3
pathos==0.3.0
pathtools==0.1.2
pickleshare==0.7.5
Pillow==9.3.0
pip==23.1.2
platformdirs==3.6.0
plotly==5.15.0
pooch==1.7.0
pox==0.3.2
ppft==1.7.6.6
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==1.10.8
Pygments==2.15.1
PyJWT==2.7.0
pyllamacpp==2.4.0
pyparsing==3.1.0
pypdf==3.11.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
pyvis==0.3.2
pyviz-comms==2.3.2
pywin32==305.1
PyYAML==6.0
pyzmq==25.1.0
redlines==0.3.0
regex==2023.6.3
requests==2.31.0
requests-file==1.5.1
rich==13.4.2
rsa==4.9
s3transfer==0.6.1
safetensors==0.3.1
scikit-learn==1.2.2
scipy==1.10.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
sentry-sdk==1.21.1
setproctitle==1.2.2
setuptools==67.8.0
sgmllib3k==1.0.0
six==1.16.0
smmap==3.0.5
soupsieve==2.3.2.post1
SQLAlchemy==1.4.39
stack-data==0.6.2
stringcase==1.2.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.2
threadpoolctl==3.1.0
tiktoken==0.4.0
tinysegmenter==0.3
tldextract==3.4.4
tokenizers==0.13.3
torch==2.0.1
torchvision==0.15.2
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.30.2
types-pytz==2023.3.0.0
types-requests==2.31.0.1
types-urllib3==1.26.25.13
typing_extensions==4.6.3
typing-inspect==0.9.0
uc-micro-py==1.0.2
uritemplate==4.1.1
urllib3==1.26.16
wandb==0.15.4
wcwidth==0.2.6
webencodings==0.5.1
wheel==0.38.4
widgetsnbextension==4.0.7
wikipedia==1.4.0
win-inet-pton==1.1.0
xyzservices==2023.5.0
yarl==1.8.1
zipp==3.15.0
